<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Configure Zeptron</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='styles.css')}}" />
</head>
<body>
    <div style="text-align: center; padding: 5px 0px">
        <div style="margin-top: 50px"></div>
<img style="max-width: 200px" src="../static/Logo.png"/>
</div>
<div style="margin: 0% 20%">
<div style="margin-top: 100px"></div>
<div style="text-align: center;">
    <h3 >Camera: 143</h2>
<h2 >Stream Configuration</h2>
<div style="margin-top: 50px"></div>
<form method="post" action="/">
    <div style="margin-top: 5px; margin-bottom: 5px" >
    <input style="min-width: 300px; padding: 5px"  id="IP" name="IP" placeholder="IP address">
    </div>
    <div style="margin-top: 5px; margin-bottom: 5px">
    <input style="min-width: 300px; padding: 5px"  id="Port" name="Port" placeholder="Port">
    </div>
    <div style="margin-top: 5px; margin-bottom: 5px">
    <input style="min-width: 300px; padding: 5px; background-color: rgb(160, 191, 136); border: none" type="submit" name="btn_start" value="Start">
    </div>
    <div style="margin-top: 5px; margin-bottom: 5px">
    <input style="min-width: 300px; padding: 5px; background-color: #ffb04c; border: #ffb04c" type="submit" name="btn_stop" value="Stop">
    </div>
</form>
</div>
<div>
    <div style="margin-top: 50px"></div>
    <hr/>
    <div style="margin-top: 50px"></div>
    <div style="text-align: center;">
        <h3 style="font-weight: 300"  ><strong>Status:</strong> Streaming</h2>
        <h3 style="font-weight: 300" ><strong>Stream time:</strong> 0.0791323184967041</h2>
</div>
</div>

</body>
</html>