<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Configure Zeptron</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='styles.css')}}" />
</head>
<body>
    <div style="text-align: center; padding: 5px 0px">
<img style="max-width: 200px" src="../static/Logo.png"/>
</div>
<div style="margin: 0% 20%">
<div style="margin-top: 100px"></div>

<h2 >Configure streaming to Zeptron server</h2>
<div style="margin-top: 50px"></div>
<form>
    <input name="IP" placeholder="IP address">
    <input name="Port" placeholder="Port">
    <input type="submit" value="Start">
    <input type="submit" value="Stop">
</form>
</div>

</body>
</html>