<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Configure Zeptron</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='styles.css')}}" />
</head>
<body>
    <div style="text-align: center; padding: 5px 0px">
        <div style="margin-top: 50px"></div>
<img style="max-width: 200px" src="../static/Logo.png"/>
</div>
<div style="margin-top: 100px"></div>
<div style="text-align: center;">
    <h3 >Camera: 143</h2>
<h2 >Stream Test</h2>
<div style="margin-top: 50px"></div>
<img src="{{ url_for('video_feed') }}">
</div>
</div>

</body>
</html>